<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <h5>Club Marque</h5>
        <p>Copyright &copy; 2017 clubmarque.com, inc. All rights reserved.</p>
        <p>Various trademarks held by their respective owners.</p>
        <p>clubmarque.com, inc. Suite 300, London, EC3 7HU, United Kingdom</p>
      </div>
      <div class="col-sm-3 col-xs-12">
        <h5>Company</h5>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Investors</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-12">
        <h5>Explore</h5>
        <ul>
          <li><a href="#">Cars</a></li>
          <li><a href="#">Motorcycles</a></li>
          <li><a href="#">Off-Road</a></li>
          <li><a href="#">Boats & Yachts</a></li>
          <li><a href="#">Specialist</a></li>
        </ul>
      </div>
      <div class="col-sm-2 col-xs-12">
        <h5>Social</h5>
        <ul>
          <li><a href="https://www.facebook.com">Facebook</a></li>
          <li><a href="https://www.twitter.com">Twitter</a></li>
          <li><a href="https://www.linkedin.com">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
