body{
  font-family: 'Karla', sans-serif;
}

a{
  color: #666;
}

a:hover{
  color: #0000dc;
}

h1{
  font-family: 'Lora', serif;
}

h2{
  font-family: 'Lora', serif;
}

h3{
  font-family: 'Lora', serif;
}

h4{
  font-family: 'Lora', serif;
}

h5{
  font-family: 'Lora', serif;
}

.btn-cm{
  background-color: #0000dc;
  color: #FFF;
  letter-spacing: 2px;
}

/* CUSTOM NAVBAR STYLING */

.navbar{
  height:99px;
  background-color: #FFF;
}

.navbar .fa{
  font-size: 20px;
}

.navbar-light .navbar-brand {
    color: #000;
    font-size: 25px;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}

.navbar li{
  font-size: 14px;
  letter-spacing: 2px;
}

.navbar a{
  padding-top: 39px;
  padding-bottom: 39px;
  padding-right: 20px;
  padding-left: 20px;
  color: #000;
}

@media (min-width: 992px) {

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.navbar a:hover{
  background-color: #eee;
}

/* HOME PAGE STYLING */

.home-hero{
  height: 600px;
  background-color: #0000dc;
  background-image: url('https://www.ultimatedrives.net/_images/main-images/French-Riviera-Driving-Holiday-3.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   background-position: center;
}

.hero-copy{
  padding-top: 50px;
}

.hero-copy-box{
  background-color: rgba(255,255,255,0.7);
  padding: 30px;
}

.value-prop{
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Lora', serif;
}

.value-prop .fa{
  color: #0000dc;
  padding-right: 10px;
}

.get-started{
  text-align: center;
  background-color: #0000dc;
  padding-top: 70px;
  padding-bottom: 50px;
}

.get-started p{
  font-family: 'Lora', serif;
  font-size: 22px;
  color: #FFF;
}

.get-started a{
  font-family: 'Karla', sans-serif;
  font-size: 17px;
  border-bottom: 1px solid;
  color: #999;
  letter-spacing: 2px;
  margin-left: 5px;
}

.get-started a:hover{
  text-decoration: none;
  color: #FFF
}





.home-reg{
  text-align: center;
  background-color: #000;
  color: #FFF;
}

.home-reg p{
  width:65%;
  margin: auto;
  padding-top: 20px;
  font-size: 20px;
}

.home-reg a{
  font-size: 22px;
  letter-spacing: 2px;
  color: #FFF;
}

.home-reg-para{
  padding-top: 150px;
  padding-bottom: 50px;
}

.home-reg-row{
  border-top: 1px solid #333;
}

.home-reg-link{
  padding-top: 70px;
  padding-bottom: 70px;
}

.home-reg-link-left{
  border-right: 1px solid #333;
}

/* FOOTER STYLING */

footer{
  padding-top: 50px;
  font-size: 15px;
  padding-bottom: 70px;
}

footer p{
  width: 75%;
  margin-top: 20px;
  color: #666;
}

footer .col{
  padding-left:20px;
  padding-right: 20px;
}

footer ul{
  padding:0;
  margin:0;
}

footer li{
  list-style-type: none;
  margin-top: 20px;
}
