{{#site-header}}{{/site-header}}

<!--

<div class="home-hero">
  <div class="hero-copy">
    <div class="container">
      <div class="col-sm-5 hero-copy-box">
        <h1>Club Marque</h1>
        <h3>Browse our exclusive collection of prestige and perfomance vehicles</h3>
        <p>Marque is an exclusive platform connecting individuals and organisations with prestige and performance vehicles around the world.</p>
        <button type="button" class="btn btn-cm">GET STARTED</button>
      </div>
    </div>
  </div>
</div>

-->


<div class="container">
  <div class="value-prop">
    <div class="row">
      <div class="col">{{fa-icon "check"}} Premium Search Service </div>
      <div class="col">{{fa-icon "check"}} Global Broker Network</div>
      <div class="col">{{fa-icon "check"}} Exective Membership</div>
      <div class="col">{{fa-icon "check"}} Only the finest vehicles</div>
    </div>
  </div>
</div>


<div class="get-started">
  <p>Prestige & Performance search service, tailored to you. <a href="#">START YOURS NOW</a></p>
</div>


<div class="home-reg">
  <div class="home-reg-para">
    <h3>JOIN THE CLUB</h3>
    <p>View orders, create wishlists, and proceed through checkout faster. Executive members can access additional product and pricing info, along with other resources.</p>
  </div>
  <div class="row home-reg-row">
    <div class="col home-reg-link home-reg-link-left"><a href="#">REGISTER</a></div>
    <div class="col home-reg-link"><a href="#">LOGIN</a></div>
  </div>
</div>


{{#site-footer}}{{/site-footer}}
